@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

*{
    font-family: 'Playpen Sans', cursive;
}

.conteiner, .module, .module-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.tic-tac{
    border: 10px solid rgb(79, 160, 133);
    background-color: aquamarine;
    padding: 30px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 122px);
    grid-template-rows: repeat(4, 122px);
}

.reseteo{
    margin-top: 50px;
    text-align: center;
    grid-column: 2;
}

input{
    font-size: 20px;
}

.espacio{
    height: 120px;
    width: 120px;
}

.default{
    background-color: gray;
}

.x{
    background-image: url(jugadores/x.jpg);
    background-size: cover;
}

.o{
    background-image: url(jugadores/o.png);
    background-size: cover;
}

.seleccion, .ganador{
    border: 10px solid rgb(79, 160, 133);
    background-color: aquamarine;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    box-shadow: -2px 1px 29px 3px rgba(76,177,185,0.79);
    -webkit-box-shadow: -2px 1px 29px 3px rgba(76,177,185,0.79);
    -moz-box-shadow: -2px 1px 29px 3px rgba(76,177,185,0.79);
    font-size: 20px;
}

.contenido{
    display: flex;
}

.player{
    height: 100px;
    width: 100px;
    background-color: gray;
    margin: 10px;
    border-radius: 20px;
}

.player:hover{
    background-color: #6b6b6b;
}
.hide{
    display: none;
}